.flex{
    display:flex;
    flex-wrap: wrap;
}
.color2 img{
  display:inline-inline-block;
  margin-top:30px;
  width:100%;
  height:auto;
}
.txt{
   color:#666666;
}
.txt-center{
  text-align: center;
  padding-top:10px;
}

.homeBar{
  position: relative;
  background-color: #EFE9C7;
}

.mainTitle{
  position:absolute;
  top:35%;
  left:5%;
  width:380px;
}
.mainTitle img{
  width:100%;
}
.ImgBar{
  text-align:right;
}
.subSection li{
  padding-top:20px;
  padding-right:20px;
}
.subSection span{
  text-decoration: underline;
  color:#42210b;
  font-weight:bold;
}
ul{
  list-style-position: inside;
}

ul.list li{
  font-size:14pt;
  text-decoration: underline;
	list-style-position: inside;
	list-style-image: url(../images/icon_list.png);
}

ul.sublist{
  padding-left:8%;
	list-style-image: url(../images/icon_sublist.png);
}
ul.sublist li {
  font-size:12pt;
}

.color1{
}

.color3 img{
  width:80%;
   box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.color3{
  background-color: #e9e9f0;
}
.color2 .description,.color3 .description{
    padding:10px 40px 10px 40px;
}
.sublist div{
  margin-top:10px;
}
.imgSection div {
  width:100%;
  text-align:center;
}


/*Phone:ウィンドウ幅が最大479pxまでの場合に適用*/
@media screen and (max-width: 479px){
  .flex{
      justify-content:center;
  }
  .mainTitle .pc_title{
    display: none;
  }
  .subSection .txt-center{
    font-size:12pt;
  }
  .imgSection .pc{
    display:none;
  }
  .sub2 .img1 img{
    height:50%;
    width:auto;
  }
  .sub2 .img2 img{
    margin-top:10px;
  }
figure{
  margin-inline-start: 0px;
}
ul{
  padding-inline-start: 20px;
}
.msb_mainImg{
  display: none;
}
.ImgBar img{
      width:100%;
      height:256px;
    }
.color1 .description{
  padding:10px 50px 30px 60px;
  }
  .color2 img{
    margin-top:20px;
    width:100%;
    height:auto;
  }
  .color2 .description{
    padding-right:20px;
    /*text-decoration: underline;*/
  }
  .merit{
    padding:0px 30px 0px 30px;
  }
  .subSection .txt-center{
    margin:80px;
  }

}
/*PC:ウィンドウ幅が767px以上の場合に適用*/
@media screen and (min-width: 767px) {
  .material-list{
    padding:10px 100px 20px 100px ;
  }
  .subSection .txt-center{
    font-size:20px;
  }
  .subSection .txt-center{
    margin:100px;
  }
  .imgSection .phone{
    display:none;
  }
    .msb_main3{
      display:none;
    }
    .mainTitle .phone_title{
      display: none;
    }
    .subSection .description{
      padding:20px 100px 10px 100px;
    }
    .description2{
      padding:10px 10px 10px 10px;
    }

    .sub1 img,.sub1 .caption{
      margin:10px;
      width:40%;
      height:auto;
    }
    .sub2 img {
      height:100%;
      width:auto;
      margin:10px;
    }
    .ImgBar img{
      margin-right:20px;
    }
    /*.color2 .description{
      padding:20px 20px 20px 20px;
      text-decoration: underline;
    }*/
    .merit{
      padding:20px 40px 20px 40px;
    }
    .flex-center{
        justify-content:center;
    }
}
