
.homeBar{
  position: relative;
  background-color: rgb(0,42,5,0.4);
}
.mainTitle{

  color:#42210B;
  text-stroke: 0.1px #fff;
  -webkit-text-stroke: 0.1px #fff;
  background-color: rgb(255,255,255,0.5);
}
.ImgBar,.mainMsg{
  text-align: center;

}
.mainMsg{
  color:#666666;
  padding:60px;
}

.link{
  text-decoration: underline;
}
.is-in{
}
.txtSec{
  text-align: center;
  margin:auto;
}
.txt{
 color:#666666;
}
/*Phone:ウィンドウ幅が最大479pxまでの場合に適用*/
@media screen and (max-width: 479px){
  .mainSection img{
    height:auto;
    width:100%;
  }
  .slide{
    display:none;
  }


  .mainTitle{
    font-size:20pt;
    position:absolute;
    top:40%;
    left:25%;
  }
  .mainMsg .pad{
    display:block;
    padding-top:50px;
    font-size:18pt;
  }
  .txtSec{
    padding:20px 10px 20px 10px ;
  }
  .txt {
    font-size:16pt;
  }
  .intro{
    font-size:10pt;
  }
  .mainMsg{
    font-size:13pt;
  }
  .pc{
    display: none;
  }
  .subSection{
    text-align: center;
  }
}
/*PC:ウィンドウ幅が767px以上の場合に適用*/
@media screen and (min-width: 767px) {
  .phone{
    display: none;
  }
  .subSection{
    display:flex;
    align-items: center;
  }
  .mainTitle{
    font-size:36pt;
    writing-mode: vertical-rl;
    position:absolute;
    top:5%;
    left:7%;
  }
  .subSection{
    display:flex;
    align-items: center;
  }
  .txt {
    font-size:20pt;
  }
  .intro{
    font-size:12pt;
  }
  .mainMsg{
    font-size:15pt;
  }
}
