html{
  box-sizing: border-box;
}
body{
  font-family : ヒラギノ明朝 ProN;
  font-size:12pt;
  color:#666666;
}
a,a:visited a:active{
  color:inherit;
}
.nav-item a::after {
  content: "s";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #2ecc71;
  transition: .3s;
}
.nav-item > a:hover::after {
  width: 100%;
}

.dropdown:hover > .dropdown-menu{
  display:block;
}
#footer{
  width:100%;
  padding:2px;
  background-color: grey;
  text-align: center;
}
/*Phone:ウィンドウ幅が最大479pxまでの場合に適用*/
@media screen and (max-width: 479px){


}
/*PC:ウィンドウ幅が767px以上の場合に適用*/
@media screen and (min-width: 767px) {
  .mainSection{
    margin:0px 250px 0 250px;
  }

}
