html{
  box-sizing: border-box;
}
body{
  font-family : ヒラギノ明朝 ProN;
  font-size:12pt;
}
a,a:visited a:active{
  color:inherit;
}

#footer{
  width:100%;
  padding:2px;
  background-color: grey;
  text-align: center;
}
/*Phone:ウィンドウ幅が最大479pxまでの場合に適用*/
@media screen and (max-width: 479px){


}
/*PC:ウィンドウ幅が767px以上の場合に適用*/
@media screen and (min-width: 767px) {
  .mainSection{
    margin:0px 95px 0 95px;
  }

}
