.items{
  padding:30px;
  display:flex;
  justify-content: center;
}
.item{
  background-color: #fffaf0;
  margin:10px 1px 10px 1px;
  padding:30px;
  border:2px solid #f2f2f2;
}
.txt{
   color:#666666;
   padding:30px;
}
.txt-subtitle{
  font-size:14pt;
}
.txt-title{
  font-size:18pt;
}
.txt-center{
  text-align: center;
}
.homeBar{
text-align: center;
}
.ImgBar{
  text-align:center;
}
.ImgBar img{
  margin-right:20px;
}
.subSection{
  margin:20px;
  padding:20px;
}
.color1{
  border:1px solid #93278f;
}
.color2{
  border:1px solid #fbb03b;
}
.color3{
  border:1px solid #2e3192;
}
.color4{
  border:1px solid #0071bc;
}
.color5{
  background-color:#dbebc4;
}
.intro{
  padding-left:15%;
}
.intro .subtitle{
  color:white;
  border:2px solid #778899;
  background-color: #708090;
  text-align: center;
  width:110px;
}
.intro .descript{
  margin-top:10px;
  margin-left:10%;
  margin-bottom:30px;
}
ul{
  list-style-position: inside;
  list-style-type: none;
  padding-inline-start: 0;
}

.mainSection li{
 font-size:14pt;
}
ul.sublist li{
  margin-left:30px;
}
.underline{
  text-decoration: underline;
}
ul.list  {
	list-style-image: url(../images/oem_list.png);
}
.pos-left{
  padding-left:40px;
}
ul.sublist{
  	list-style-image: url(../images/oem_sublist.png);
}
ul.sublist2{
  list-style-image: url(../images/oem_sublist2.png);
}
.sublist2 {
  padding-left:40px;
}
.center{
    align-items: center;
    margin-left:15%;
}
/*Phone:ウィンドウ幅が最大479pxまでの場合に適用*/
@media screen and (max-width: 479px){


}
/*PC:ウィンドウ幅が767px以上の場合に適用*/
@media screen and (min-width: 767px) {

}
